export(fmlcd)
export(fmlcdEM)
export(compilationInfo)
export(paramFitKernelDensity)
export(paramFitGammaOne)
export(correctIntegral)
export(calcCvxHullFaces)

importFrom("stats", "runif", "sd", "var")
importFrom("mclust", "hc", "hclass")
importFrom("mvtnorm", "dmvnorm")

import(
	geometry,
	MASS
)

useDynLib(fmlogcondens, .registration = TRUE)
